<a href="https://colab.research.google.com/github/Flpcarrara/data-manipulation-exercises/blob/master/Manipulacao_de_Dados_Ex_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.\
Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.\
Salve os dados em uma variável de nome *crime*.

In [1]:
import pandas as pd

In [3]:
! git clone https://github.com/Mario-RJunior/data-manipulation-exercises

Cloning into 'data-manipulation-exercises'...
remote: Enumerating objects: 31, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 31 (delta 10), reused 10 (delta 10), pack-reused 17
Unpacking objects: 100% (31/31), done.

In [5]:
cd data-manipulation-exercises/

/content/data-manipulation-exercises

In [8]:
ls

datasets/                         Manipulacao_de_Dados_Ex_02.ipynb  README.md
Manipulacao_de_Dados_Ex_01.ipynb  Manipulacao_de_Dados_Ex_03.ipynb

In [10]:
crime = pd.read_csv('datasets/US_Crime_Rates_1960_2014.csv')

#### Tarefa 2. Qual o tipo de dados em cada coluna?

In [12]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

#### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [19]:
from datetime import datetime
crime['Year'] = pd.to_datetime(crime['Year'], format= '%Y')
crime['Year'].dtypes

dtype('<M8[ns]')

#### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [ ]:
# Seu código

#### Tarefa 5. Remova a coluna Total do DataFrame.

In [ ]:
# Seu código

#### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [ ]:
# Seu código

#### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [ ]:
# Seu código

#### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [ ]:
# Seu código

**Parabéns! Você chegou ao fim**